# Global Config
TIME_ZONE=Europe/Moscow
ENVIRONMENT="development"
AUTH_ACCESS_TOKEN_TTL=15m
AUTH_SESSION_TTL=1h

# Server config
HTTP_ADDR=:5050
HTTP_SHUTDOWN_TIMEOUT=30s
HTTP_ALLOWED_ORIGINS=http://localhost:5050

# DB Config
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=messenger
POSTGRES_TIMEOUT=10s
POSTGRES_TEST_DB=messenger_test

# Logger Config
LOGGER_LEVEL=DEBUG

# JWT Config
JWT_SECRET="secret"
